{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background col-main-fixedpos">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content" id="blog-listing-medium">
         <h1>{{ .Name }}</h1>

          <!-- Special page for categories of the posts -->
          {{if eq .Title "Categories"}}
          <ul>
              {{ range $key, $value := .Site.Taxonomies.categories }}
              <li>
                  <a href="/categories/{{ $key | urlize }}">{{ $key | title }}</a>
              </li>
              {{ end }}
          </ul>
          {{ else }}

         {{if eq .Title "Section01"}}
         <p class="author-category"> This text is hard-coded for the Section01 page inside layout/_default/list</p>
         {{end}}

         {{if eq .Title "Section02"}}
         <p class="author-category"> This text is hard-coded for the Section02 page inside layout/_default/list</p>
         {{end}}
         
         {{if eq .Title "Section03"}}
         <p class="author-category"> This text is hard-coded for the Section03 page inside layout/_default/list</p>
         {{end}}


          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 5 }}
          {{ range $paginator.Pages.ByDate.Reverse }}
          <section class="post">
              <div class="row">
                {{ if .Params.image }}
                  <div class="col-md-4">
                    <div class="image">
                        <a href="{{ .Permalink }}">
                            <img src="{{ .Site.BaseURL}}{{ .Params.image }}" class="img-responsive" alt="">
                        </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                  {{ else }}
                  <div class="col-md-12">
                  {{ end }}
                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <div class="clearfix">
                          <div class="author-category">
                            {{ if isset .Params "author" }}
                            By {{ .Params.author }} <br>
                            {{ end }}
                            {{ if isset .Params "categories" }}
                            {{ if gt (len .Params.categories) 0 }}
                              {{ with .Params.categories }}
                              in
                                {{ range . }}
                                <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
                                {{ end }}
                              {{ end }}
                            {{ end }}
                            {{ end }}
                          </div>
                          <div class="date-comments">
                              <a href="{{ .Permalink }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format "January 2, 2006" }}</a>
                          </div>
                      </div>
                      <p class="intro">
                       {{ if .Description }}
                          {{ .Description }}
                       {{ else }}
                          {{ .Summary | plainify | safeHTML }}
                      {{ end }}</p>
                      <p class="read-more"><a id="amber-btn" href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                      </p>
                  </div>
              </div>
          </section>
          {{ end }}

          <ul class="pager">
              {{ if $paginator.HasPrev }}
              <li class="previous"><a href="{{ $paginator.Prev.URL }}">&larr; Newer</a></li>
              {{ else }}
              <li class="previous disabled"><a href="#">&larr; Newer</a></li>
              {{ end }}

              {{ if $paginator.HasNext }}
              <li class="next"><a href="{{ $paginator.Next.URL }}">Older &rarr;</a></li>
              {{ else }}
              <li class="next disabled"><a href="#">Older &rarr;</a></li>
              {{ end }}
          </ul>

      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}