{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    
    {{ if .Params.image }}
    <div class="col-sm-4">
      <div class="image">
        <img src="{{ .Site.BaseURL }}{{ .Params.image }}" class="img-responsive" alt="">
      </div>
    </div>
    <div class="col-md-8">
    {{ else }}
    <div class="content-column-content">
    <div class="col-lg-8">
    {{ end }}
        <h2>{{ .Title }}</h2>
            <p class="author-category">
              {{ if isset .Params "author" }}
              By: {{ .Params.author }} <br>
              {{ end }}
              {{ if isset .Params "categories" }}
              {{ if gt (len .Params.categories) 0 }}
                {{ with .Params.categories }}
                Categories:
                  {{ range . }}
                  <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                {{ end }}
              {{ end }}
              {{ end }}
            </p>
            <p class="date-comments">
              {{ $month := .Date.Format "2006-01" }}
              <a href="{{ $.Site.BaseURL }}months/{{ $month | urlize }}"><i class="fa fa-calendar-o"></i> {{ .Date.Format "2 January 2006" }}</a>
            </p>
    </div>
  </div>
  {{ if .Params.image }}<br>{{ else }}</div>{{ end }}
  <div class="row">
   <div class="content-column-content">
          <div class="col-lg-8">
{{ $body := replace .Content .Summary "" }}
{{ $body | safeHTML }}
      
       </div>
     </div>
   </div>
  </div>
</div>

<a href="#" class="back-to-top">
  <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
</a>

{{ end }}